<h1 style="text-align: center;">{{ titulo }}</h1>
<form action="" class="form">

  <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombre">
  <br>
  <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellido">
  <br>
  <button type="submit" id="" (click)="registrarUsuario()">Registrar</button>
</form>
<br>
<p *ngIf="registrado; else sinRegistrar" style="text-align: center;">{{ mensaje }} con el nombre {{ nombre }} y apellido {{ apellido }}</p>
<ng-template #sinRegistrar>
  <p style="text-align: center;">Nadie registrado</p>
</ng-template>